In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np
import glob
import os

In [2]:
carpeta = "./DATOS/"

In [3]:
def convertir_to_DataFrame(name_file: str):

    file1 = pd.read_excel(name_file,)
    df = pd.DataFrame(file1)
    return df

In [4]:
documento = "./DATOS/MATRICULADOS_DETALLADO.xlsx"
df1 = convertir_to_DataFrame(documento)

In [5]:
df1.head()

,CODIGO_SEDE,SEDE,CODIGO_REGIONAL,REGIONAL,FICHA,ESTADO_FICHA,CODIGO_PROGRAMA,VERSION_PROGRANA,PROGRAMA,NIVEL_DE_FORMACION,...,NOMBRE,PRIMER_APELLIDO,SEGUNDO_APELLIDO,ESTADO_APRENDIZ,IDENTIFICADOR_CONVENIO,AMPLIACION_COVERTURA,CONVENIO,TIPO_DOCUMENTO_EMPRESA,NUMERO_DOCUMENTO_EMPRESA,EMPRESA
0,9221,CENTRO DE TELEINFORMÁTICA Y PRODUCCIÓN INDUSTRIAL,19,REGIONAL CAUCA,2770198,En ejecucion,223104,1,CONSTRUCCION EN EDIFICACIONES.,TECNÓLOGO,...,ALEXIS ALBERTO,OJEDA,NARVAEZ,Formacion,4,NO,CURSOS FIC,NaN,NaN,NaN
1,9221,CENTRO DE TELEINFORMÁTICA Y PRODUCCIÓN INDUSTRIAL,19,REGIONAL CAUCA,2770198,En ejecucion,223104,1,CONSTRUCCION EN EDIFICACIONES.,TECNÓLOGO,...,DIEGO ARMANDO,HURTADO,MOSQUERA,Formacion,4,NO,CURSOS FIC,NaN,NaN,NaN
2,9221,CENTRO DE TELEINFORMÁTICA Y PRODUCCIÓN INDUSTRIAL,19,REGIONAL CAUCA,2770198,En ejecucion,223104,1,CONSTRUCCION EN EDIFICACIONES.,TECNÓLOGO,...,DAIR FERNEY,PALECHOR,MACA,Formacion,4,NO,CURSOS FIC,NaN,NaN,NaN
3,9221,CENTRO DE TELEINFORMÁTICA Y PRODUCCIÓN INDUSTRIAL,19,REGIONAL CAUCA,2770198,En ejecucion,223104,1,CONSTRUCCION EN EDIFICACIONES.,TECNÓLOGO,...,ALEXANDER,CHANTRE,CUASTUMAL,Formacion,4,NO,CURSOS FIC,NaN,NaN,NaN
4,9221,CENTRO DE TELEINFORMÁTICA Y PRODUCCIÓN INDUSTRIAL,19,REGIONAL CAUCA,2770198,En ejecucion,223104,1,CONSTRUCCION EN EDIFICACIONES.,TECNÓLOGO,...,JUAN DAVID,SANCHEZ,SILVA,Formacion,4,NO,CURSOS FIC,NaN,NaN,NaN

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33051 entries, 0 to 33050
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CODIGO_SEDE               33051 non-null  int64
 1   SEDE                      33051 non-null  object
 2   CODIGO_REGIONAL           33051 non-null  int64
 3   REGIONAL                  33051 non-null  object
 4   FICHA                     33051 non-null  int64
 5   ESTADO_FICHA              33051 non-null  object
 6   CODIGO_PROGRAMA           33051 non-null  int64
 7   VERSION_PROGRANA          33051 non-null  int64
 8   PROGRAMA                  33051 non-null  object
 9   NIVEL_DE_FORMACION        33051 non-null  object
 10  TIPO_DOCUMENTO            33051 non-null  object
 11  NUMERO_DOCUMENTO          33051 non-null  int64
 12  NOMBRE                    33051 non-null  object
 13  PRIMER_APELLIDO           33051 non-null  object
 14  SEGUNDO_APELLIDO          32170 non-null  object
 15  ESTADO_APRENDIZ           33051 non-null  object
 16  IDENTIFICADOR_CONVENIO    33051 non-null  int64
 17  AMPLIACION_COVERTURA      1749 non-null   object
 18  CONVENIO                  1749 non-null   object
 19  TIPO_DOCUMENTO_EMPRESA    0 non-null      float64
 20  NUMERO_DOCUMENTO_EMPRESA  0 non-null      float64
 21  EMPRESA                   0 non-null      float64
dtypes: float64(3), int64(7), object(12)
memory usage: 5.5+ MB

In [7]:
df1.columns.to_list()

['CODIGO_SEDE',
 'SEDE',
 'CODIGO_REGIONAL',
 'REGIONAL',
 'FICHA',
 'ESTADO_FICHA',
 'CODIGO_PROGRAMA',
 'VERSION_PROGRANA',
 'PROGRAMA',
 'NIVEL_DE_FORMACION',
 'TIPO_DOCUMENTO',
 'NUMERO_DOCUMENTO',
 'NOMBRE',
 'PRIMER_APELLIDO',
 'SEGUNDO_APELLIDO',
 'ESTADO_APRENDIZ',
 'IDENTIFICADOR_CONVENIO',
 'AMPLIACION_COVERTURA',
 'CONVENIO',
 'TIPO_DOCUMENTO_EMPRESA',
 'NUMERO_DOCUMENTO_EMPRESA',
 'EMPRESA']

In [8]:
def all_files(carpeta):
    BD = {}
    name_rows = {}
    # Iterar sobre los archivos en la carpeta
    for archivo in glob.glob(os.path.join(carpeta, "*.xlsx")):
        if os.path.isfile(archivo):
            name_file = archivo.split("/", maxsplit=2)[2].split(".")[0]
            print(name_file)
            df = convertir_to_DataFrame(archivo)
            name_rows[name_file] = df.columns.to_list()
            BD[name_file] = df
    return name_rows, BD

In [9]:
df1.columns.to_list()

['CODIGO_SEDE',
 'SEDE',
 'CODIGO_REGIONAL',
 'REGIONAL',
 'FICHA',
 'ESTADO_FICHA',
 'CODIGO_PROGRAMA',
 'VERSION_PROGRANA',
 'PROGRAMA',
 'NIVEL_DE_FORMACION',
 'TIPO_DOCUMENTO',
 'NUMERO_DOCUMENTO',
 'NOMBRE',
 'PRIMER_APELLIDO',
 'SEGUNDO_APELLIDO',
 'ESTADO_APRENDIZ',
 'IDENTIFICADOR_CONVENIO',
 'AMPLIACION_COVERTURA',
 'CONVENIO',
 'TIPO_DOCUMENTO_EMPRESA',
 'NUMERO_DOCUMENTO_EMPRESA',
 'EMPRESA']

In [10]:
df = df1[
    [
        "NUMERO_DOCUMENTO",
        "ESTADO_APRENDIZ",
        "FICHA",
        "CODIGO_PROGRAMA",
        "PROGRAMA",
        "NIVEL_DE_FORMACION",
    ]
]

In [11]:
df['ESTADO_APRENDIZ'].unique()

array(['Formacion', 'Retiro voluntario', 'Por certificar', 'Traslado',
       'Certificado', 'Aplazado', 'Condicionado', 'En transito',
       'Induccion', 'Cancelado'], dtype=object)

In [15]:
estados = [
    "Retiro voluntario",
    "Traslado",
    "Aplazado",
    "Condicionado",
    "Cancelado",
]
filtro = lambda x: x in estados
df = df[list(map(filtro, df["ESTADO_APRENDIZ"]))]

In [16]:
df["ESTADO_APRENDIZ"].unique()

array(['Retiro voluntario', 'Traslado', 'Aplazado', 'Condicionado',
       'Cancelado'], dtype=object)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5422 entries, 10 to 32999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NUMERO_DOCUMENTO    5422 non-null   int64
 1   ESTADO_APRENDIZ     5422 non-null   object
 2   FICHA               5422 non-null   int64
 3   CODIGO_PROGRAMA     5422 non-null   int64
 4   PROGRAMA            5422 non-null   object
 5   NIVEL_DE_FORMACION  5422 non-null   object
dtypes: int64(3), object(3)
memory usage: 296.5+ KB

In [18]:
df.sample(5)

,NUMERO_DOCUMENTO,ESTADO_APRENDIZ,FICHA,CODIGO_PROGRAMA,PROGRAMA,NIVEL_DE_FORMACION
32189,1059981249,Retiro voluntario,2557764,525203,ENTRENAMIENTO DEPORTIVO,TECNÓLOGO
32993,55176140,Retiro voluntario,2834795,228123,PROGRAMACION DE APLICACIONES PARA DISPOSITIVOS...,TÉCNICO
1876,1002819596,Retiro voluntario,2452442,228106,ANALISIS Y DESARROLLO DE SISTEMAS DE INFORMACION,TECNÓLOGO
14259,1061200980,Retiro voluntario,2874969,525203,ENTRENAMIENTO DEPORTIVO,TECNÓLOGO
3255,1061811503,Cancelado,2934747,21730025,CONTROLES Y SEGURIDAD INFORMATICA,COMPLEMENTARIA VIRTUAL

In [19]:
df.groupby(["ESTADO_APRENDIZ"])["ESTADO_APRENDIZ"].count()

ESTADO_APRENDIZ
Aplazado               45
Cancelado            4193
Condicionado           46
Retiro voluntario    1082
Traslado               56
Name: ESTADO_APRENDIZ, dtype: int64

In [37]:
df.groupby(["PROGRAMA"])["PROGRAMA"].count().sort_values(ascending=False).head(10)

PROGRAMA
CONTROLES Y SEGURIDAD INFORMATICA                                                         600
METODOLOGIA DE LA PROGRAMACION DE SISTEMAS INFORMATICOS                                   573
APRENDIZ DIGITAL                                                                          352
VARIABLES Y ESTRUCTURAS DE CONTROL EN LA PROGRAMACION ORIENTADA A OBJETOS: JAVA           348
AUDITORIA INFORMATICA: CONCEPTUALIZACION                                                  309
USO DE EXCEL Y ACCESS PARA EL DESARROLLO DE APLICACIONES ADMINISTRATIVAS EMPRESARIALES    283
ESTRUCTURA DEL LENGUAJE DE PROGRAMACION C++ (NIVEL I)                                     258
ENGLISH DOES WORK - LEVEL 1                                                               251
PROCESOS DE SOPORTE TECNICO PARA EL MANTENIMIENTO DE EQUIPOS DE COMPUTO                   250
SISTEMAS.                                                                                 166
Name: PROGRAMA, dtype: int64